<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Cube Management System</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Cube Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/cubes}">Cube Management</a>
      </li>
    </ul>
  </div>
</nav>

<div class ="container">
  <div class = "row">
    <h1> List Cubes </h1>
  </div>

  <div class = "row">
    <div class = "col-lg-3">
      <a th:href = "@{/cubes/new}" class = "btn btn-primary btn-sm mb-3"> Add Cube</a>
    </div>
    <div>
      <form th:action="@{/filter}" th:value="${filter}" method="POST">
      <input
      type="text"
      class = "form-control"
      placeholder="Enter Filtervalue"
      th:default="0"
      name = "filter"
      ></form>
    </div>

        <div class = "box-footer">
          <button type="submit" class = "btn btn-primary">
            Submit
          </button>
        </div>
        </form>
    </div>
  </div>

<div class ="container">
  <div class = "row">
  <table class = "table table-striped table-bordered">
    <thead class = "table-dark">
    <tr>
      <th> Cube Name</th>
      <th> Cube Type</th>
      <th> Cube Price </th>
      <th> Cube Producer</th>
      <th> Is magnetic</th>
      <th> Actions </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "cube: ${cubes}">
      <td th:text = "${cube.name}"></td>
      <td th:text = "${cube.type}"></td>
      <td th:text = "${cube.price}"></td>
      <td th:text = "${cube.producer}"></td>
      <td th:text = "${cube.magnetic}"></td>
      <td>
        <a th:href = "@{/cubes/edit/{id}(id=${cube.id})}"
           class = "btn btn-primary">Update</a>

        <a th:href = "@{/cubes/{id}(id=${cube.id})}"
           class = "btn btn-danger">Delete</a>

        <a th:href = "@{/cubes/add_review/{id}(id=${cube.id})}"
           class = "btn btn-secondary">Add Review</a>
      </td>
    </tr>
    </tbody>

  </table>

</div>
</div>



<div class ="container">
  <div class = "row">
    <h1> List Reviews </h1>
  </div>
  <table class = "table table-striped table-bordered">
    <thead class = "table-dark">
    <tr>
      <th> Cube Reviewed</th>
      <th> Review Username</th>
      <th> Review description</th>
      <th> Review rating </th>
      <th> Review date</th>
      <th> Would you recommend?</th>
      <th> Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "review: ${reviews}">
      <td th:text = "${review.cube.name}"></td>
      <td th:text = "${review.username}"></td>
      <td th:text = "${review.description}"></td>
      <td th:text = "${review.rating}"></td>
      <td th:text = "${review.date}"></td>
      <td th:text = "${review.recommend}"></td>
      <td>
        <a th:href = "@{/reviews/edit/{id}(id=${review.id})}"
           class = "btn btn-primary">Update</a>

        <a th:href = "@{/reviews/{id}(id=${review.id})}"
           class = "btn btn-danger">Delete</a>

      </td>
    </tr>
    </tbody>

  </table>

</div>
</body>
</html>